.Home__container{
  width: 100%;
  min-height: calc(100vh - 60px);
  padding: 2.28% 7%;
  background: url('../../images/stars.svg'), #1B1B25;
  background-size: cover;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Home__container .Home__container-text h1, h5{
  margin: .5em auto;
  color: #fff;
}

.Home__container .Home-image img{
  width: 75%;
}

